#mind {
	width: 10px;
	height:10px;
	border-radius: 9999999px;
	overflow: hidden;
	position: absolute;
	top: 150px;
	left: 150px;
}

#mind-container {
	width: 70%;
	height: 600px;
	position: relative;
	overflow: hidden;
	border: 1px solid black;
	float: left;
	cursor: none;
}

#thoughts {
	position: absolute;
}

#thoughts img {
	width: 800px;
}

#m-button {
	float: left;
	width: 20%;
	margin-left: 3%;
}

.side-text {
	display: none;
	max-width: 25%;
	float: left;
	padding-left: 3%;
	padding-top: 3%;
	font-size: 14px;
}

#m0 {
	display: block;
}