body {
	font-family: 'PT Sans', sans-serif;
}


.grid-layout {
	float: left;
}

#main-content {
	width: 90%;
	margin: 0% 10% 0% 10%;
	margin-bottom: 100px;
}

p {
	font-family: 'PT Serif', serif;
	font-size: 18px;
}

h1 {
	font-size: 54px;
}
